main {
  font-weight: bold;
  color: black;
  position: relative;
  top: 5em;
  left: 1.25em;
}

p, address {
  font: 1.25em sans-serif;
}

body, html {
  height: 100%;
  overflow: auto;
  background-image: url("../shared/img/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}