main {
  font-weight: bold;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

p, address {
  font: 1.25em sans-serif;
}

body, html {
  height: 100%;
  overflow: auto;
  background-image: url("../shared/img/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}