main {
  font-weight: bold;
  color: black;
  position: relative;
  top: 45%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  min-width: 450px;
  padding: 15px;
  margin: auto;
  min-height: 50em;
}

p, address {
  font: 1.25em sans-serif;
}

body, html {
  height: 100%;
  overflow: auto;
  background-image: url("../shared/img/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

nav a, nav p {
  font: 1.25em sans-serif !important;
}