body, html {
    height: 100%;
}

.login-image {
    background-image: url("../img/background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    background-color: rgb(0,0,0);
    background-color: rgba(152,149,158,0.25);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    min-width: 450px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.login-form .checkbox, label, a {
    font-weight: 400;
}

.login-form .form-floating:focus-within {
    z-index: 2;
}
