main {
  min-height: 50em;
  color: white;
}

body {
  background-image: url(../shared/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

p {
  font: 1.5em sans-serif;
}
