.show-hide-pwd-eye {
    margin: 15px 0 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 5px 5px 0px;
    height: 38px;
    bottom: 53px;
    background-color: rgba(211, 211, 211, 0.5);
    float: right;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.show-hide-pwd-eye:active {
    padding: 8px 10px 5px 10px;
}