body, html {
    height: 100%;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 25em;
    object-fit: cover;
}

.btn {
    width: 20em;
    height: 2.5em;
}

.card-design {
    color: black;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80em;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.card, .card-header {
    background-color: rgba(245, 245, 245, 0);
}

#breakfast_image_id, #lunch_image_id, #dinner_image_id {
    border-radius: 1.5em
}

#breakfast_title_card_id, #lunch_title_card_id, #dinner_title_card_id {
    height: 4em;
    font-size: 2em;
}

h3 {
    font-size: 2.5em;
}

h1 {
    font-size: 3em;
    color: black;
}