body, html {
    height: 100%;
    overflow: auto;
}

/* The api delivers a website that includes mouseover events that don't work. To prevent these errors from being
displayed in the developer tools, we added pointer-events: none */
#anchor_nutrition_widget {
    font-weight: bold;
    pointer-events: none;
}

div .spoonacular-caption {
    font-size: 3em;
}

div .spoonacular-quickview {
    font-size: 1.25em;
}

div .spoonacular-nutrient-name {
    font-size: 1em;
}