body,
html {
  height: 100%;
  overflow: hidden;
}
.toasts {
  position: fixed;
  right: 0;
  left: 0;
  top: 1%;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 100%;
}
.background_image {
  background-image: url("../shared/img/background.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset_password_form {
  background-color: rgb(0, 0, 0);
  background-color: rgba(152, 149, 158, 0.25);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  min-width: 450px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.reset_password_form .checkbox,
label,
a {
  font-weight: 400;
}

.reset_password_form .form-floating:focus-within {
  z-index: 2;
}

.align-center {
  position: relative;
  align-items: center;
  left: 25px;
  top: 15px;
}
