body, html {
    height: 100%;
    overflow: hidden;
}

.range-wrap {
    position: relative;
    margin: 0 auto 3rem;
}

.range {
    width: 100%;
}

.bubble {
    background: rgb(152, 149, 158);
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(152, 149, 158);
    top: -1px;
    left: 48%;
}